<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HeavyMessageSizeBinding" closeTimeout="00:05:00"
                    openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"
                    allowCookies="true" maxBufferPoolSize="50000000" maxBufferSize="50000000"
                    maxReceivedMessageSize="50000000">
                    <readerQuotas maxStringContentLength="50000000" maxArrayLength="50000000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://alb-1282291822.us-east-1.elb.amazonaws.com/AlgorithmServerOne/Compute.svc"
                binding="basicHttpBinding" bindingConfiguration="HeavyMessageSizeBinding"
                contract="AlgorithmOne.ICompute" name="BasicHttpBinding_AlgorithmOne" />
            <endpoint address="http://alb-1282291822.us-east-1.elb.amazonaws.com/AlgorithmServerTwo/Compute.svc"
                binding="basicHttpBinding" bindingConfiguration="HeavyMessageSizeBinding"
                contract="AlgorithmTwo.ICompute" name="BasicHttpBinding_AlgorithmTwo" />
        </client>
    </system.serviceModel>
</configuration>